<div class="carousel carousel-slider center" data-indicators="true" style="height: 550px !important;">
  <div class="carousel-item white-text background-first">
    <h2>Super Mario Oddisey</h2>
    <a class="btn btn-floating pulse"><i class="material-icons">menu</i></a>
  </div>
  <div class="carousel-item amber white-text background-second">
    <h2>Second Panel</h2>
    <p>This is your second panel</p>
  </div>
  <div class="carousel-item green white-text background-3">
    <h2>Third Panel</h2>
    <p>This is your third panel</p>
  </div>
  <div class="carousel-item blue white-text background-4">
    <h2>Fourth Panel</h2>
    <p>This is your fourth panel</p>
  </div>
</div>
<blockquote>
  This is an example quotation that uses the blockquote tag.
</blockquote>
